body {
  font-family: "Cascadia Code", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8d8887;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Cascadia Code", sans-serif;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

input[type="submit"] {
  background-color: #2b30a2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #2b30a2;
}

p {
  text-align: center;
  margin-top: 20px;
  font-family: "Cascadia Code", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
}

li {
  margin: 10px 0;
  text-align: center;
  font-family: "Cascadia Code", sans-serif;
}

a {
  text-decoration: none;
  color: #007bff;
}
